@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Sarabun:wght@300&display=swap');

@font-face {
    font-family: 'League Gothic';
    src: url(https://fonts.gstatic.com/s/leaguegothic/v5/qFdR35CBi4tvBz81xy7WG7ep-BQAY7Krj7feObpH_9aug9UKQw.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/leaguegothic/v5/qFdR35CBi4tvBz81xy7WG7ep-BQAY7Krj7feObpH_9avg9UKQw.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/leaguegothic/v5/qFdR35CBi4tvBz81xy7WG7ep-BQAY7Krj7feObpH_9ahg9U.woff2) format('woff2');
}

@font-face {
    font-family: 'Sarabun';
    src: url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rik8s6zDX.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rilQs6zDX.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rilUs6zDX.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rilss6w.woff2) format('woff2');
}

/*Isso faz o velho girar*/

@keyframes spining {
    from { transform: rotateY(0turn); }
    to   { transform: rotateY(3turn); }
}

.spin { animation: spining 2s ease-in 0s 1 reverse; }

.old:hover {
    cursor: pointer;
}

/*Global*/

html {
    min-height: 100%;
}

html *::selection {
    background-color: #ff0008;
    color: #ffffff;
}

body {
    background-color: black;
    margin: 0;
    height: 100vh;
}

.text {
    margin: 1.464842vw 0;
    padding: .976562vw;
    background-color: #707070;
    height: fit-content;
}

.text h2 {
    font-size: 2.246092vw;
    text-align: center;
    font-style: italic;
    margin: 0 0 .976562vw 0;
    padding: .976562vw;
    background-color: #7a0000;
}

.text p:not(.alergicos) {
    font-size: 1.5625vw;
    text-align: justify;
    margin: 0 0;
    padding: .976562vw;
    background-color: #972618;
}

/*End global*/

/*Start header*/

a:link {
    color: white;
    text-decoration: none;
    transition: all .5s ease;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

nav a:nth-of-type(2):hover,
ul a:hover {
    filter: drop-shadow(0 0 1vw #ff6a6f);
}

nav {
    position: fixed;
    z-index: 100;
    background-color: black;
    width: 100%;
    font-family: 'League Gothic', sans-serif;
    color: white;
    font-style: italic;
    display: flex;
    justify-content: left;
    align-items: center;
}

header {
    margin-left: .247%;
    display: grid;
    grid-template: 1fr 1fr / auto auto auto;
}

header p:first-of-type {
    margin: auto 0 2.045% 0;
    font-size: 1.75781vw;
    text-align: center;
}

header p:nth-of-type(2) {
    margin: 0 0;
    font-size: 1.07422vw;
    grid-row-start: 2;
}

header a img{
    position: absolute;
    height: 5.616vw;
    margin: .2441408vw .488283vw .2441408vw 2.441406vw;
}

header a img:first-of-type {
    z-index: 1;
}

header a img:first-of-type:hover {
    opacity: 0;
}

header a:first-of-type {
    grid-area: 1 / 2 / 3 / 3;
    height: 6.104vw;
    width: 10.14899vw;
}

header a:last-of-type {
    grid-area: 2 / 3 / 3 / 4;
    margin: 8.33% 0 auto 0;
    font-size: 1.5625vw;
}

ul {
    z-index: 100;
    position: fixed;
    top: 1.69769vw;
    right: 4.63867vw;
    font-family: 'League Gothic', sans-serif;
    color: white;
    font-style: italic;
    font-size: 2.246092vw;
    width: 45%;
    margin: 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav > p:last-of-type {
    display: none;
}

/*End header*/

/*start index*/

#index {
    position: relative;
    top: 6.104vw;
    font-family: 'League Gothic', sans-serif;
    color: white;
    display: grid;
    margin: 0 4.197%;
    background-color: #7a0000;
    grid-template: auto / 1fr 12fr 1fr .533% .16% 1fr 12fr 1fr;
}

/*direita*/

#direita {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: auto 1fr / 1fr;
    font-family: 'Sarabun', sans-serif;
}

.tabela {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.448% 2.896%;
    border-radius: 4.343%;
    background-color: black;
    margin: 4.343% auto 0 auto;
    height: auto;
    width: 22.1vw;
    grid-area: 1 / 1 / 2 / 2;
    text-shadow: none;
    text-align: center;
}

.tabela h2 {
    font-size: 1.3vw;
    margin: .5vw 0;
}

.tabela h3 {
    font-size: 1.07422vw;
    margin: .5vw;
}

table {
    border-collapse: collapse;
}

td, th {
    font-size: .84vw;
    border: .098vw solid black;
    padding: .3vw;
    background-color: white;
    color: black;
}

.tabela p {
    font-size: .678905vw;
    font-style: italic;
}

#codigo {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
    width: 16.15533vw;
    height: 10.3vw;
    margin: auto auto;
    border-radius: .9988vw;
    display: flex;
    flex-direction: column;
}

#codigo img {
    height: 8.883vw;
    width: 15.966vw;
    border-radius: .9988vw;
}

#codigo a {
    color: black;
    font-size: .94vw;
    padding-left: 2.6vw;
}

/*Linhas*/

#linha1 {
    grid-area: 1 / 4 / 2 / 5;
    background-color: #972618;
}

#linha2 {
    grid-area: 1 / 5 / 2 / 6;
    background-color: white;
}

/*esquerda*/

#esquerda {
    grid-area: 1 / 7 / 2 / 8;
    display: grid;
    grid-template: auto auto / 1fr;
}

#esquerda img {
    width: 24.4147vw;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 auto;
    transition: all .5s ease;
}

#esquerda img:hover {
    filter: brightness(1.4);
}

#esquerda .text {
    grid-area: 2 / 1 / 3 / 2;
}

#esquerda h2 {
    background-color: #972618;
}


.alergicos {
    font-size: 1.5625vw;
    text-align: center;
    margin: .976562vw 0 0 0;
    padding: .976562vw;
    background-color: #7a0000;
    margin: -0.1vw;
    border-top: .976562vw solid #707070;
}

/*End index*/

/*Start nossa história*/

#nossa-historia {
    position: relative;
    top: 6.104vw;
    padding-bottom: 1vw;
    font-family: 'League Gothic', sans-serif;
    color: white;
    background-color: #7a0000;
    display: grid;
    grid-template: auto auto auto auto auto / 1fr;
}

#nossa-historia h1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    font-size: 4.5vw;
    font-style: italic;
}

#nossa-historia img {
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: .4vw solid black;
}

#nossa-historia p {
    font-size: 2vw;
    border: .976562vw solid #707070;
    width: 48%;
    text-align: justify;
    margin: .976562vw;
    padding: .976562vw;
    background-color: #972618;
}

#nossa-historia article:first-of-type {
    display: flex;
    justify-content: space-around;
    grid-area: 2 / 1 / 3 / 2;
    align-items: center;
}

#nossa-historia article:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
    grid-area: 3 / 1 / 4 / 2;
    align-items: center;
}

#nossa-historia article:nth-of-type(3) {
    display: flex;
    justify-content: space-around;
    grid-area: 4 / 1 / 5 / 2;
    align-items: center;
}

#nossa-historia article:last-of-type {
    display: flex;
    justify-content: space-around;
    grid-area: 5 / 1 / 6 / 2;
    align-items: center;
}

/*End nossa história*/

/*Start: principais-sabores*/

#principais-sabores {
    position: relative;
    top: 6.104vw;
    font-family: 'League Gothic', sans-serif;
    color: white;
    background-color: #7a0000;
    display: grid;
    grid-template: auto / 2% 22.5% 2% 22.5% 2% 22.5% 2% 22.5% 2%;
}

#principais-sabores h1 {
    font-size: 2.246092vw;
    text-align: center;
    font-style: italic;
    margin: 0 0 .976562vw 0;
    padding: .976562vw;
    grid-area: 1 / 4 / 2 / 7;
}

#principais-sabores img {
    height: 15vw;
}

#principais-sabores p {
    color: #7a0000;
    position: absolute;
    top: .5vw;
    right: .5vw;
    font-size: 2vw;
}

#loja {
    display: grid;
    grid-template: auto / 1fr 6fr 1fr 6fr 1fr 6fr 1fr 6fr 1fr;
    position: relative;
    background-color: white;
    height: 21.2vw;
    border: .261vw solid black;
    border-radius: 2vw;
    grid-area: 2 / 2 / 3 / 9;
    align-items: center;
}

#loja img {
    margin: 0 auto;
}

#loja h2 {
    display: none;
    margin: auto;
    position: absolute;
    width: 17vw;
    height: auto;
    border: .7vw solid black;
    border-radius: .8vw;
    background-color: white;
    color: black;
    padding: .5vw;
}

#loja img:first-of-type {
    grid-area: 1 / 2 / 2 / 3;
}

#loja img:nth-of-type(2) {
    grid-area: 1 / 4 / 2 / 5;
}

#loja img:nth-of-type(3) {
    grid-area: 1 / 6 / 2 / 7;
}

#loja img:last-of-type {
    grid-area: 1 / 8 / 2 / 9;
}

#loja h2:first-of-type {
    grid-area: 1 / 2 / 2 / 3;
}

#loja h2:nth-of-type(2) {
    grid-area: 1 / 4 / 2 / 5;
}

#loja h2:nth-of-type(3) {
    grid-area: 1 / 6 / 2 / 7;
}

#loja h2:last-of-type {
    grid-area: 1 / 8 / 2 / 9;
}

#loja img:nth-of-type(n):hover + h2,
#loja h2:nth-of-type(n):hover {
    display: block;
}

#botoes {
    display: grid;
    grid-template: auto / 1fr 6fr 1fr 6fr 1fr 6fr 1fr 6fr 1fr;
    grid-area: 3 / 2 / 4 / 9;
    margin: 1.8vw 0 1.8vw 0;
}

#botoes button {
    display: block;
    margin: 0 auto;
}

#botoes a:first-of-type {
    grid-area: 1 / 2 / 2 / 3;
}

#botoes a:nth-of-type(2) {
    grid-area: 1 / 4 / 2 / 5;
}

#botoes a:nth-of-type(3) {
    grid-area: 1 / 6 / 2 / 7;
}

#botoes a:last-of-type {
    grid-area: 1 / 8 / 2 / 9;
}

#botoes a {
    width: min-content;
    margin: auto;
}

.comprar {
    height: 6vw;
    width: 9vw;
    font-style: italic;
    font-size: 1.5vw;
    border-radius: .8vw;
    margin-bottom: 10vw;
    font-weight: bold;
}

#botoes button {
    cursor: pointer;
}

#botoes a:first-of-type button {
    border: .35vw solid #972618; 
    color: #972618;
}

#botoes a:nth-of-type(2) button {
    border: .35vw solid black;
    color: black;
}

#botoes a:nth-of-type(3) button {
    border: .35vw solid #3434f9;
    color: #3434f9;
}

#botoes a:last-of-type button {
    border: .35vw solid #32ff2fb3;
    color: #32ff2fb3;
}

#form {
    background-image: linear-gradient( to left top, orange, red );
    position: relative;
    background-repeat: no-repeat;
}

#form h1 {
    text-align: center;
    font-style: oblique;
    font-size: 3.9vw;
    font-family: 'League Gothic', sans-serif;
    padding: 2.6vw 0;
    margin: 0;
}

#formulario {
    margin: 0 25vw;
    font-size: 1.7vw;
}

input[type="text"], input[type="email"] {
    height: 1.5vw;
    width: 10vw;
    border-width: .1vw;
}

label, input, select {
    margin-bottom: 1.5%;
}

select {
    height: 1.3vw;
    width: 12vw;
    font-size: 1vw;
    border-width: .1vw;
}

#form a {
    position: absolute;
    color: #7a0000;
    font-family: 'League Gothic', sans-serif;
    font-size: 3vw;
    right: 2.5vw;
    bottom: 0;
}

.area {
    height: 2.5vw;
    width: 10vw;
    border-width: .1vw;
}

#formulario button {
    height: 2vw;
    width: 6vw;
    font-size: 1.2vw;
    border-width: .1vw;
    margin: 3vw 15.9vw;
    padding: 0;
}

option {
    height: 1.3vw;
    width: 6vw;
    font-size: 1vw;
    border-width: .1vw;
}

/*End principais-sabores*/

/*Start: sobre-nos*/

#sobre-nos {
    display: grid;
    grid-template: auto auto / 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    background-color: #7a0000;
    color: white; 
    text-align: justify;
    font-family: 'League Gothic', sans-serif;
    position: relative;
    top: 6.104vw;
    padding: 1vw 0;
}

#sobre-nos p {
    font-size: 1.7vw;
}

#sobre-nos div:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
}

#sobre-nos div:nth-of-type(4) {
    grid-area: 2 / 4 / 3 / 5;
}

#sobre-nos div:last-of-type {
    grid-area: 2 / 6 / 3 / 7;
}

#sobre-nos .will, .greg, .mark, .will-js, .greg-js, .mark-js {
    padding: 2vw;
    width: 12.2vw;
    height: 12.2vw;
    margin: 0 auto;
    border-radius: 50%;
}

.will {
    grid-area: 1 / 2 / 2 / 3;
    background: url(../img/will.jpeg) no-repeat;
    background-size: cover;
}

.will-js {
    grid-area: 1 / 2 / 2 / 3;
    background: url(../img/ArthurT.jpg) no-repeat;
    background-size: cover;
}

.greg {
    grid-area: 1 / 4 / 2 / 5;
    background: url(../img/greg.jpeg) no-repeat;
    background-size: cover;
}

.greg-js {
    grid-area: 1 / 4 / 2 / 5;
    background: url(../img/ArthurM.jpg) no-repeat;
    background-size: cover;

}

.mark {
    grid-area: 1 / 6 / 2 / 7;
    background: url(../img/mark.jpeg) no-repeat;
    background-size: cover;
}

.mark-js {
    grid-area: 1 / 6 / 2 / 7;
    background: url(../img/Eduardo.jpg) no-repeat;
    background-size: cover;
}

/*End sobre nós*/

/*Start edicoes limitadas*/

#edicoes-limitadas h1 {
    font-size: 3.6vw;
}

#edicoes-limitadas h2 {
    font-size: 2.6vw;
    text-shadow: #e00a0a .15vw .15vw;
}

#edicoes-limitadas {
    display: grid;
    grid-template: auto auto auto auto auto / 1.5vw 1fr 1fr 1fr 1.5vw;
    font-size: 1.5625vw;
    text-align: center;
    background-color: #7a0000;
    font-family: 'League Gothic', sans-serif;
    color: white;
    position: relative;
    top: 6.104vw;
}

#edicoes-limitadas span {
    font-size: 1.5625vw;
    text-align: center;
    padding: .976562vw;
    background-color: #e00a0a;
    border: .13vw solid #181717 ;
    border-radius: 50%;
}

#edicoes-limitadas span:active {
    position: relative;
    bottom: .3vw;
    transition: all .2s ease;
    cursor: pointer;
}

#edicoes-limitadas img {
    width: 18vw;
    height: 18vw;
    margin: auto;
}

#edicoes-limitadas section {
    grid-area: 1 / 2 / 2 / 5;
    height: 20vw;
}

#edicoes-limitadas p {
    color: white;
    text-shadow: #0a0a0a .13vw .13vw;
    border: .13vw solid black;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    height: 18vw;
}

#edicoes-limitadas #dc {
    grid-column: 3 / 4;
    grid-row: 2 / 3; 
    background-image: linear-gradient(to right, rgb(32, 68, 2), rgb(16, 3, 73));
}

#edicoes-limitadas img:first-of-type { 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#edicoes-limitadas #misterio {
    grid-column: 3 / 4;
    grid-row: 3 / 4; 
    background-image: linear-gradient(to right, white, black); 
}

#edicoes-limitadas img:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
}

#edicoes-limitadas #gay {
    grid-column: 3 / 4;
    grid-row: 4 / 5; 
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

#edicoes-limitadas img:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#edicoes-limitadas #roleta {
    grid-column: 3 / 4;
    grid-row: 5 / 6; 
    background-image: linear-gradient(180deg, rgb(82, 9, 9), rgb(0, 0, 0));
}

#edicoes-limitadas img:last-of-type {
    grid-column: 2 / 3;
    grid-row: 5 / 6; 
}

#edicoes-limitadas #video1 {
    grid-column: 4 / 5;
    grid-row: 2 / 3; 
}

#edicoes-limitadas #video2 {
    grid-column: 4 / 5;
    grid-row: 3 / 4; 
}

#edicoes-limitadas #video3 {
    grid-column: 4 / 5;
    grid-row: 4 / 5; 
}

#edicoes-limitadas #video4 {
    grid-column: 4 / 5;
    grid-row: 5 / 6; 
}

#edicoes-limitadas iframe {
    margin: auto;
    height: 18vw;
    width: 25vw;
    border: none;
}

/*End edicoes*/

/*Start footer*/

footer {
    font-family: 'League Gothic', sans-serif;
    position: relative;
    top: 5.6vw;
    height: 7.8vw;
    display: block;
    text-align: center;
}

footer p {
    font-size: 1.4vw;
    color: white;
    font-style: italic;
    margin: .5% 0;
}

footer img {
    width: 2.15vw;
    margin: .15% .2vw;
    border: .147vw solid white;
    border-radius: 50%;
}

footer div {
    display: flex;
    justify-content: center;
}

/*End footer*/

/*Start Cell*/

@media screen and (orientation: portrait) {
    /*Start header*/

    header {
        margin-left: .247%;
    }
    
    header p:first-of-type,
    header p:nth-of-type(2) {
        display: none;
    }
    
    header a:first-of-type {
        height: 14vw;
        width: 21.34vw;
    }
    
    header a:last-of-type {
        margin: 8.33% 0 auto 0;
        font-size: 3.6vw;
    }

    header a img {
        height: 12.881vw;
    }
    
    ul {
        z-index: 99;
        top: -13vw;
        right: 0;
        background-color: #000000;
        flex-direction: column;
        font-size: 4vw;
        width: 100%;
        height: 25vw;
        text-align: center;
        padding: 1vw 0;
        transition: all .2s linear;
    }

    .appear {
        top: 14vw;
    }

    nav > p:last-of-type {
        display: block;
        font-style: normal;
        font-size: 6vw;
        margin: 0 0 0 55%;
        cursor: pointer;
    }

    /*End header*/
    
    /*Start index*/

    #index {
        top: 14vw;
        margin: 0 4.197%;
    }

    .tabela {
        padding: 4.5% 5.4%;
        border-radius: 4.343%;
        margin: 12% auto 0 auto;
        width: 35vw;
    }
    
    .tabela h2 {
        font-size: 4vw;
        margin: .5vw 0;
    }
    
    .tabela h3 {
        font-size: 3.2vw;
        margin: .5vw;
    }
    
    td, th {
        font-size: 1.9vw;
        border: .098vw solid black;
        padding: .04vw;
    }
    
    .tabela p {
        font-size: 1.6vw;
    }
    
    #codigo {
        width: 32vw;
        height: 21vw;
        margin: 5vw auto;
        border-radius: 1.5vw;
    }
    
    #codigo img {
        height: 17.8vw;
        width: 32vw;
        border-radius: 1vw;
    }
    
    #codigo a {
        font-size: 2.1vw;
        height: 17.8vw;
        width: 32vw;
    }
    
    #esquerda img {
        width: 40vw;
    }

    .text {
        margin: 2vw 0;
        padding: 2vw;
    }
    
    .text h2 {
        font-size: 6vw;
        margin: 0 0 2vw 0;
        padding: 2vw;
    }
    
    .text p:not(.alergicos) {
        font-size: 4vw;
        padding: 2vw;
    }
    
    .alergicos {
        font-size: 4vw;
        margin: 2vw 0 0 0;
        padding: 2vw;
    }

    /*End index*/

    /*Start nossa história*/

    #nossa-historia {
        top: 14vw;
    }

    #nossa-historia h1 {
        font-size: 6.5vw;
    }

    #nossa-historia img {
        width: 34vw;
        height: 34vw;
        border: .7vw solid black;
    }

    #nossa-historia p {
        font-size: 4vw;
        border: 2vw solid #707070;
        width: 48%;
        margin: 2vw;
        padding: 2vw;
    }

    /*End nossa história*/

    /*Start principais-sabores*/

    #principais-sabores {
        top: 14vw;
        grid-template: auto 1fr 1fr 1fr 3vw / 3vw 1fr 2fr 1fr 1fr 3vw;
    }

    #principais-sabores h1 {
        margin: 5vw 0;
        font-size: 8vw;
        grid-area: 1 / 3 / 2 / 5;
    }
    
    #loja {
        width: 50vw;
        text-align: center;
        height: 100vw;
        grid-area: 2 / 2 / 5 / 4;
        grid-template: 1fr 1fr 1fr 1fr / auto;
    }

    #principais-sabores img {
        height: 23.5vw;
        width: 19vw;
    }

    #principais-sabores img:first-of-type {
        grid-area: 1 / 1 / 2 / 2;
    }

    #principais-sabores img:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    #principais-sabores img:nth-of-type(3) {
        grid-area: 3 / 1 / 4 / 2;
    }

    #principais-sabores img:last-of-type {
        grid-area: 4 / 1 / 5 / 2;
    }

    #principais-sabores a:first-of-type {
        grid-area: 2 / 2 / 3 / 3;
    }

    #principais-sabores a:nth-of-type(2) {
        grid-area: 3 / 2 / 4 / 3;
    }

    #principais-sabores a:nth-of-type(3) {
        grid-area: 4 / 2 / 5 / 3;
    }

    #principais-sabores a:last-of-type(4) {
        grid-area: 5 / 2 / 6 / 3;
    }

    #principais-sabores h2 {
        font-size: 4vw;
        height: auto;
        width: 40vw;
        margin-left: 3.8vw;
        padding: 2vw 1vw 2vw 1vw;
    }

    #loja h2:first-of-type {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #loja h2:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    #loja h2:nth-of-type(3) {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    #loja h2:last-of-type {
        grid-area: 4 / 1 / 5 / 2;
    }

    #botoes {
        grid-area: 2 / 4 / 5 / 6;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    }

    #botoes button {
        height: 13vw;
        width: 18vw;
        font-size: 3.2vw;
    }

    #botoes a:first-of-type {
        grid-area: 1 / 1 / 2 / 2;
    }

    #botoes a:nth-last-of-type(3) {
        grid-area: 2 / 1 / 3 / 2;
    }

    #botoes a:nth-last-of-type(2) {
        grid-area: 3 / 1 / 4 / 2;
    }

    #botoes a:last-of-type {
        grid-area: 4 / 1 / 5 / 2;
    }

    #form h1 {
        font-size: 9vw;
        padding: 7vw 0;
    }

    #formulario {
        font-size: 4vw;
        margin: 6vw;
    }

    input[type="text"], input[type="email"] {
        height: 3.4vw;
        width: 19vw;
        border-width: .32vw;
    }
    
    label, input, select {
        margin-bottom: 1vw;
    }

    select {
        height: 3vw;
        width: 20.5vw;
        font-size: 2.3vw;
        border-width: .32vw;
    }

    #form a {
        font-size: 6.5vw;
        right: 3vw;
    }

    .area {
        height: 4.2vw;
        width: 19vw;
        border-width: .32vw;
    }

    #formulario button {
        height: 6vw;
        width: 13vw;
        font-size: 2.6vw;
        border-width: .32vw;
        margin: 8vw 38vw;
    }

    option {
        height: 6vw;
        width: 10vw;
        font-size: 2.4vw;
        border-width: .32vw;
    }

    /*End principais-sabores*/

    /*Start edicoes limitadas*/

    #edicoes-limitadas h1 {
        font-size: 6.5vw;
    }
    
    #edicoes-limitadas h2 {
        font-size: 5vw;
        text-shadow: #e00a0a .5vw .5vw;
    }

    #edicoes-limitadas {
        top: 14vw;
        display: grid;
        grid-template: auto auto auto auto auto auto auto auto auto / 1fr 6fr 1fr 6fr 1fr;
        font-size: 4vw;
    }

    #edicoes-limitadas span {
        font-size: 5vw;
        padding: .976562vw;
        border: .13vw solid #181717 ;
    }

    #edicoes-limitadas span:active {
        bottom: 1vw;
    }

    #edicoes-limitadas img,
    #edicoes-limitadas iframe {
        width: 35vw;
        height: 35vw;
        margin: auto;
    }

    #edicoes-limitadas section {
        height: 50vw;
        grid-area: 1 / 2 / 2 / 5;
    }

    #edicoes-limitadas p {
        text-shadow: #0a0a0a .13vw .13vw;
        border: .13vw solid black;
        padding: 3vw;
        height: fit-content;
    }

    #edicoes-limitadas #dc {
        grid-area: 3 / 2 / 4 / 5;
    }

    #edicoes-limitadas img:first-of-type { 
        grid-area: 2 / 2 / 3 / 3;
    }

    #edicoes-limitadas #misterio {
        grid-area: 5 / 2 / 6 / 5;
    }

    #edicoes-limitadas img:nth-of-type(2) {
        grid-area: 4 / 2 / 5 / 3;
    }

    #edicoes-limitadas #gay {
        grid-area: 7 / 2 / 8 / 5;
    }

    #edicoes-limitadas img:nth-of-type(3) {
        grid-area: 6 / 2 / 7 / 3;
    }

    #edicoes-limitadas #roleta {
        grid-area: 9 / 2 / 10 / 5;
    }

    #edicoes-limitadas img:last-of-type {
        grid-area: 8 / 2 / 9 / 3;
    }

    #edicoes-limitadas #video1 {
        grid-area: 2 / 4 / 3 / 5;
    }

    #edicoes-limitadas #video2 {
        grid-area: 4 / 4 / 5 / 5;
    }

    #edicoes-limitadas #video3 {
        grid-area: 6 / 4 / 7 / 5;
    }

    #edicoes-limitadas #video4 {
        grid-area: 8 / 4 / 9 / 5;
    }

    /*End edicoes*/

    /*Start: sobre nós*/
    
    #sobre-nos {
        top: 14vw;
        display: flex;
        flex-direction: column;
        padding: 0 6vw 0 6vw;
        justify-content: space-around;
    }
    
    #sobre-nos p {
        font-size: 5vw;
    }
    
    #sobre-nos img {
        padding: 6vw;
        width: 39vw;
        height: 39vw;
        margin: 0 auto;
    }

    /*End sobre nós*/

    /*Start footer*/
    
    footer {
        top: 13.5vw;
        height: 12vw;
    }
    
    footer p {
        font-size: 2.7vw;
    }
    
    footer img {
        width: 4vw;
        border: .147vw solid white;
        border-radius: 50%;
    }

    /*End footer*/
}

/*End Cell*/
