body {
    background-color: black;
}
#memoria { 
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
#memoria h1, #memoria p{
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 8vw;
    color: white;
    text-shadow: black 3px 3px;
}
#grade{
    display: flex;
    flex-wrap: wrap;
    width: 32vw;
    margin: auto;
}
#memoria img{
    width: 8vw; 
}
#roleta{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Gothic', sans-serif;
}
#roleta img{
    width: 130px; 
}
#roleta body{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

div.box{
    min-width: 500px;
    background-color: brown;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

div.box h1{
    font-size: 18vw;
    color: aliceblue;
    margin: 15px 0;
}
div.box button{
    font-size: 5vw;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color: chocolate;
    color: antiquewhite;
    cursor: pointer;
}
#cinema{
    background-color: rgb(128, 0, 0);
}
#cinema img{
    max-width: 10vw;
    min-width: 10vw;
    float: right;
    padding-right: 1vw;
}
#cinema img:active{
    max-width: 12vw;
    min-width: 12vw;
    cursor: pointer;
}
#cinema h1{
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    color: whitesmoke;
    text-shadow: black 0.2vw  0.2vw;
}
#cinema p{
    text-align: justify;
    font-family: 'League Gothic', sans-serif;
    color: whitesmoke;
    text-shadow: black 0.2vw  0.2vw;
    float: right;
    margin-right: 1vw;
}
#cinema button{
    float: right;
}
#caca{
    display: grid;
    grid-template: 1fr 1fr 1fr  / 1fr 1fr 1fr 1fr 1fr;
}
#caca h1{
    color: white;
    text-align: center;
}
#caca p{
    text-align: center;
}
#caca p:hover{
    text-shadow: burlywood 2px 2px;
    color: brown;
    text-align: center;
    cursor: pointer;
}
#caca p:visited{
    background-color: rgb(255, 45, 45);
}
#caca div:first-of-type{
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
}
#caca div:nth-of-type(1){
    grid-column: 3 / 4;
    grid-row: 4 / 5; 
}
#caca div:nth-of-type(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
}
#caca div:nth-of-type(3){
    grid-column: 4 / 5;
    grid-row: 3 / 4; 
}
#caca div:nth-of-type(4){
    grid-column: 5 / 6;
    grid-row: 1 / 2; 
}
#caca div:last-of-type{
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
}