@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Sarabun:wght@300&display=swap');

@font-face {
    font-family: 'League Gothic';
    src: url(https://fonts.gstatic.com/s/leaguegothic/v5/qFdR35CBi4tvBz81xy7WG7ep-BQAY7Krj7feObpH_9aug9UKQw.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/leaguegothic/v5/qFdR35CBi4tvBz81xy7WG7ep-BQAY7Krj7feObpH_9avg9UKQw.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/leaguegothic/v5/qFdR35CBi4tvBz81xy7WG7ep-BQAY7Krj7feObpH_9ahg9U.woff2) format('woff2');
}

@font-face {
    font-family: 'Sarabun';
    src: url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rik8s6zDX.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rilQs6zDX.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rilUs6zDX.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/sarabun/v13/DtVmJx26TKEr37c9YL5rilss6w.woff2) format('woff2');
}

/*Global*/

body {
    background-color: black;
    margin: 0;
}

.text {
    margin: 1.464842vw 0;
    padding: 0.976562vw;
    background-color: #707070;
    height: fit-content;
}

.text h2 {
    font-size: 2.246092vw;
    text-align: center;
    font-style: italic;
    margin: 0 0 0.976562vw 0;
    padding: 0.976562vw;
    background-color: #7a0000;
}

.text p:not(.alergicos) {
    font-size: 1.5625vw;
    text-align: justify;
    margin: 0 0;
    padding: 0.976562vw;
    background-color: #972618;
}

/*End global*/

/*Start header*/

a:link {
    color: white;
    text-decoration: none;
    transition: all .5s ease;
}

a:visited {
    color: white;
}

a:not(header a:first-of-type):hover {
    filter: drop-shadow(0 0 1.5vw #ff6a6f);
}

a:active {
    color: white;
}

nav {
    position: fixed;
    z-index: 1;
    background-color: black;
    width: 100%;
    font-family: 'League Gothic', sans-serif;
    color: white;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-left: 0.247%;
    display: grid;
    grid-template: 1fr 1fr / auto auto auto;
}

header p:first-of-type {
    margin: auto 0 2.045% 0;
    font-size: 1.75781vw;
    text-align: center;
}

header p:nth-of-type(2) {
    margin: 0 0;
    font-size: 1.07422vw;
    grid-row-start: 2;
}

a img {
    position: absolute;
    height: 92%;
    margin: .2441408vw .488283vw .2441408vw 2.441406vw;
}

a img:first-of-type {
    z-index: 1;
}

a img:first-of-type:hover {
    opacity: 0;
}

header a:first-of-type {
    grid-area: 1 / 2 / 3 / 3;
    height: 6.104vw;
    width: 10.14899vw;
}

header a:last-of-type {
    grid-area: 2 / 3 / 3 / 4;
    margin: 8.33% 0 auto 0;
    font-size: 1.5625vw;
}

ul {
    font-size: 2.246092vw;
    width: 45%;
    margin: 0 0;
    padding: 0 4.63867vw 0 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

/*End header*/

/*start index*/

#index {
    position: relative;
    top: 6.104vw;
    font-family: 'League Gothic', sans-serif;
    color: white;
    display: grid;
    margin: 0 4.197%;
    background-color: #7a0000;
    grid-template: auto / 1fr 12fr 1fr 0.533% 0.16% 1fr 12fr 1fr;
}

/*direita*/

#direita {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: auto 1fr / 1fr;
    font-family: 'Sarabun', sans-serif;
}

.tabela {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.448% 2.896%;
    border-radius: 4.343%;
    background-color: black;
    margin: 4.343% auto 0 auto;
    height: auto;
    width: 22.1vw;
    grid-area: 1 / 1 / 2 / 2;
    text-shadow: none;
    text-align: center;
}

.tabela h2 {
    font-size: 1.3vw;
    margin: 0.5vw 0;
}

.tabela h3 {
    font-size: 1.07422vw;
    margin: 0.5vw;
}

table {
    border-collapse: collapse;
}

td, th {
    font-size: 0.84vw;
    border: 0.098vw solid black;
    padding: 0.3vw;
    background-color: white;
    color: black;
}

.tabela p {
    font-size: 0.678905vw;
    font-style: italic;
}

#codigo {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
    width: 16.15533vw;
    height: 10.3vw;
    margin: auto auto;
    border-radius: 0.9988vw;
    display: flex;
    flex-direction: column;
}

#codigo img {
    height: 8.883vw;
    width: 15.966vw;
    border-radius: 0.9988vw;
}

#codigo a {
    color: black;
    font-size: 0.94vw;
    padding-left: 2.6vw;
}

/*Linhas*/

#linha1 {
    grid-area: 1 / 4 / 2 / 5;
    background-color: #972618;
}

#linha2 {
    grid-area: 1 / 5 / 2 / 6;
    background-color: white;
}

/*esquerda*/

#esquerda {
    grid-area: 1 / 7 / 2 / 8;
    display: grid;
    grid-template: auto auto / 1fr;
}

#esquerda img {
    width: 24.4147vw;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 auto;
    transition: all .5s ease;
}

#esquerda img:hover {
    filter: brightness(1.3);
}

#esquerda .text {
    grid-area: 2 / 1 / 3 / 2;
}

#esquerda h2 {
    background-color: #972618;
}


.alergicos {
    font-size: 1.5625vw;
    text-align: center;
    margin: 0.976562vw 0 0 0;
    padding: 0.976562vw;
    background-color: #7a0000;
    margin: -0.1vw;
    border-top: 0.976562vw solid #707070;
}

/*End index*/

/*Start nossa história*/

#nossa-historia {
    position: relative;
    top: 6.104vw;
    font-family: 'League Gothic', sans-serif;
    color: white;
    background-color: #7a0000;
    display: grid;
    grid-template: auto auto auto auto auto / 1fr;
}

#nossa-historia h1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    font-size: 4.5vw;
    font-style: italic;
}

#nossa-historia img {
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: 0.4vw solid black;
}

#nossa-historia p {
    font-size: 2vw;
    border: 0.976562vw solid #707070;
    width: 48%;
    text-align: justify;
    margin: 0.976562vw;
    padding: 0.976562vw;
    background-color: #972618;
}

#nossa-historia article:first-of-type {
    display: flex;
    justify-content: space-around;
    grid-area: 2 / 1 / 3 / 2;
    align-items: center;
}

#nossa-historia article:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
    grid-area: 3 / 1 / 4 / 2;
    align-items: center;
}

#nossa-historia article:nth-of-type(3) {
    display: flex;
    justify-content: space-around;
    grid-area: 4 / 1 / 5 / 2;
    align-items: center;
}

#nossa-historia article:last-of-type {
    display: flex;
    justify-content: space-around;
    grid-area: 5 / 1 / 6 / 2;
    align-items: center;
}

/*End nossa história*/

/*Start: sobre nós*/

#sobre-nos {
    display: grid;
    grid-template: auto auto / 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    background-color: #7a0000;
    color: white; 
    text-align: justify;
    font-family: 'League Gothic', sans-serif;
    position: relative;
    top: 6.104vw;
}

#sobre-nos p {
    font-size: 1.7vw;
}

#sobre-nos div:first-of-type {
    grid-area: 2 / 2 / 3 / 3;
}

#sobre-nos div:nth-of-type(2) {
    grid-area: 2 / 4 / 3 / 5;
}

#sobre-nos div:last-of-type {
    grid-area: 2 / 6 / 3 / 7;
}

#sobre-nos img {
    padding: 13vw;
    width: 2vw;
    margin: 0 auto;
    border-radius: 50%;
}

#sobre-nos img:first-of-type {
    grid-area: 1 / 2 / 2 / 3;
}

#sobre-nos img:nth-of-type(2) {
    grid-area: 1 / 4 / 2 / 5;
}

#sobre-nos img:last-of-type {
    grid-area: 1 / 6 / 2 / 7;
}

/*End sobre nós*/

/*Start footer*/

footer {
    font-family: 'League Gothic', sans-serif;
    position: relative;
    top: 5.6vw;
    height: 7.8vw;
    display: block;
    text-align: center;
}

footer p {
    font-size: 1.4vw;
    color: white;
    font-style: italic;
    margin: 0.5% 0;
}

footer img {
    width: 2.15vw;
    margin: 0.15%;
    border: 0.147vw solid white;
    border-radius: 50%;
}

footer div {
    display: flex;
    justify-content: center;
}
/*End footer*/

/*Start Cell*/

@media screen and (orientation: portrait) {
    /*Start header*/

    header {
        margin-left: 0.247%;
    }
    
    header p:first-of-type,
    header p:nth-of-type(2) {
        display: none;
    }
    
    header a:first-of-type {
        height: 14vw;
        width: 21.34vw;
    }
    
    header a:last-of-type {
        margin: 8.33% 0 auto 0;
        font-size: 3.6vw;
    }
    
    ul {
        font-size: 4vw;
        width: 45%;
        padding: 0 4.6vw 0 0;
    }

    /*End header*/
    
    /*Start index*/

    #index {
        top: 14vw;
        margin: 0 4.197%;
    }

    .tabela {
        padding: 4.5% 5.4%;
        border-radius: 4.343%;
        margin: 12% auto 0 auto;
        width: 35vw;
    }
    
    .tabela h2 {
        font-size: 4vw;
        margin: 0.5vw 0;
    }
    
    .tabela h3 {
        font-size: 3.2vw;
        margin: 0.5vw;
    }
    
    td, th {
        font-size: 1.9vw;
        border: 0.098vw solid black;
        padding: 0.04vw;
    }
    
    .tabela p {
        font-size: 1.6vw;
    }
    
    #codigo {
        width: 32vw;
        height: 21vw;
        margin: 5vw auto;
        border-radius: 1.5vw;
    }
    
    #codigo img {
        height: 17.8vw;
        width: 32vw;
        border-radius: 1vw;
    }
    
    #codigo a {
        font-size: 2.1vw;
        height: 17.8vw;
        width: 32vw;
    }
    
    #esquerda img {
        width: 40vw;
    }

    .text {
        margin: 2vw 0;
        padding: 2vw;
    }
    
    .text h2 {
        font-size: 6vw;
        margin: 0 0 2vw 0;
        padding: 2vw;
    }
    
    .text p:not(.alergicos) {
        font-size: 4vw;
        padding: 2vw;
    }
    
    .alergicos {
        font-size: 4vw;
        margin: 2vw 0 0 0;
        padding: 2vw;
    }

    /*End index*/

    /*Start nossa história*/

    #nossa-historia {
        top: 14vw;
    }

    #nossa-historia h1 {
        font-size: 6.5vw;
    }

    #nossa-historia img {
        width: 34vw;
        height: 34vw;
        border: .7vw solid black;
    }

    #nossa-historia p {
        font-size: 4vw;
        border: 2vw solid #707070;
        width: 48%;
        margin: 2vw;
        padding: 2vw;
    }

    /*End nossa história*/

    /*Start: sobre nós*/
    
    #sobre-nos {
        top: 14vw;
        display: flex;
        flex-direction: column;
        padding: 0 6vw 0 6vw;
        justify-content: space-around;
    }
    
    #sobre-nos p {
        font-size: 5vw;
    }
    
    #sobre-nos img {
        padding: 39vw;
        width: 6vw;
        margin: 0 auto;
        border-radius: 50%;
    }

    /*End sobre nós*/

    /*Start footer*/
    
    footer {
        top: 13.5vw;
        height: 12vw;
    }
    
    footer p {
        font-size: 2.7vw;
    }
    
    footer img {
        width: 4vw;
        border: 0.147vw solid white;
        border-radius: 50%;
    }

    /*End footer*/
}

/*End Cell*/
